<ion-menu contentId="main-content" >
  <ion-header >
    <ion-toolbar color="dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item >
        <ion-icon slot="start" style="color: green;" name="mail"></ion-icon>
        <ion-label >{{this.email}}</ion-label>
      </ion-item>

      <ion-item (click)="clearChatHistory()">
        <ion-icon slot="start" style="color: red;" name="trash"  ></ion-icon>
        <ion-label  >Clear Chat History</ion-label>
      </ion-item>

      <ion-item (click)="logout()">
        <ion-icon slot="start" style="color: red;" name="log-out"></ion-icon>
        <ion-label >Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Lumina</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="scrollable-container">
    <div class="center-container">
      <app-sitepal-angular  [embed] ={embed}> </app-sitepal-angular>                                                        
    </div>
    <form style="display: none;" action="#" name="messageForm" ><textarea cols="45" rows="16" name="message" class="feature_entire_heading" readonly="" ></textarea></form>
    <div class="input-container fixed-bottom">
      
      <ion-textarea placeholder="Type your Query" [(ngModel)]="inputText" clearInput></ion-textarea>
      
      <ion-button  fill="clear" class="mic-button" (click)="startRecognition()">
        <ion-icon name="mic"></ion-icon>
      </ion-button>
      
      <ion-button  fill="clear" class="send-button" (click)="onSubmit()">
        <ion-spinner *ngIf="isLoading" name="crescent" color="warning"></ion-spinner>
        <ion-icon *ngIf="!isLoading" name="arrow-up"></ion-icon>
      </ion-button>
      <!-- <input type="file" id="upload_file" name=""> -->
    </div>
</div>