<!-- <form [formGroup]="loginForm" (ngSubmit)="login()">
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input formControlName="email" type="email" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input formControlName="password" type="password" required></ion-input>
  </ion-item>
  <ion-button type="submit" >Login</ion-button>
</form> -->
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Login</h3>
				<!-- <div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>

				</div> -->
			</div>
			<div class="card-body">
				<form [formGroup]="loginForm" (ngSubmit)="login()">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" formControlName="email" placeholder="username">

					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" formControlName="password" placeholder="password">
					</div>

					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>

				<!-- <button style="width: 100%;" type="button" (click)="loginWithGoogle()"
					class="login-with-google-btn mt-2">
					Sign in with Google
				</button> -->
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					<a (click)="signup()">Don't have an account? Sign Up</a>
				</div>

			</div>
		</div>
	</div>
</div>